@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* FONTES */
  --font-primary: "Fjalla One", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

@layer base{

    /* INÍCIO DA ANIMAÇÃO DA SECTION SKILSS */

    .invisibleLE{
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(-100px);
    }

    .showLE{
        opacity: 1;
        filter: blur(0px);
        transition: all 1s;
        transform: translateX(0px);
    }

    .invisibleLD{
        opacity: 0;
        filter: blur(10px);
        transition: all 1s;
        transform: translateX(100px)
    }

    .showLD{
        opacity: 1;
        filter: blur(0px);
        transition: all 1s;
        transform: translateX(0px);
    }

    .menuNav{
        display: none !important;
    }

    button span{
        width: 40px !important;
        transition: all 0.5s;
    }

    button.ativo span:nth-child(2){
        width: 0px !important; 
        opacity: 0;
    }

    button.ativo span:nth-child(1){
        transform: rotate(-45deg);
        position: absolute;
       
    }

    button.ativo span:nth-child(3){
        transform: rotate(45deg);
        position: absolute;
        
    }
}